{% comment %}
Site Header for ACM CRE Hub
Simple navigation with logos and links to docs/template.
{% endcomment %}

<header class="site-header">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand-group" href="{{ '/' | relative_url }}">
        <div class="navbar-logos">
          <img src="{{ '/assets/images/organisers/acm-isigcse-768x256.jpg' | relative_url }}" alt="ACM iSIGCSE">
        </div>
        <span class="navbar-divider"></span>
        <span class="navbar-brand">CRE</span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://acm-cre.github.io/docs/" target="_blank" rel="noopener">Docs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/ACM-CRE/website-template" target="_blank" rel="noopener">Template</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
